#team-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(6, auto); 
    gap: 10px; 
    margin-top: 40px;
    /* width: 100%; */
  }

  #logo {
    margin: 0;
    padding: 0;
  }

  .team-logo {
    width: 77px;
    height: auto; 
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
  }

  #logo-button{
    border: none;
  }

  button {
    border: none;
  }

  #intro{
    /* Set the background image URL */
    background-image: url('https://pngimg.com/d/nba_PNG15.png');
    /* Set background size to cover the entire section */
    background-size: contain;
    /* Set background attachment to fixed for a fixed background */
    background-attachment: fixed;
    /* Add additional styles as needed */
  }
  
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: auto; /* Set width to auto */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: -200px/* Position the popup above the button */
    left: 50%;
    transform: translateX(-50%); /* Center the popup horizontally */
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 ;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }